<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="helloworld" class="ioc.HelloWorld">
        <constructor-arg value="jack"/>
    </bean>
    <bean id="helloworld2" class="ioc.HelloWorld">
        <property name="name" value="wjy"/>
    </bean>
</beans>